/*
 * General
 */

@viewport, @-ms-viewport {
	zoom: 1.0;
	width: extend-to-zoom;
}

body {
	font-family: Verdana, sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

/* Needed for font-size and so Safari applies the :focus and :hover styles */
button, input, select {
	font-size: inherit;
}

a:focus, button:focus, input:focus, select:focus, div:focus,
a:hover, button:hover, input:hover, select:hover, div:hover {
	outline: 4px solid yellow;
}

header {
	width: auto;
	padding: 2em;
	margin: 0;
	background-color: yellow;
	text-align: center;
}

/* In order to have seamless background fills */
main, #intro {
	margin: 0;
}

/* Now restore some sensible spacing around the content */
#intro {
	padding: 1em;
}
main {
	padding: 0.5em;
}

#intro {
	background-color: #FFA;
}

#chart {
	/* Thanks to http://stackoverflow.com/a/17672214 */
	width: 95vw;
	height: 50vw;
}


/*
 * Enhancements
 */

/* Bit more padding, likely for big phones/tablets */
@media screen and (min-width: 45em) {
	body {
		font-size: 1.2em;
	}

	#intro {
		padding: 1.5em;
	}
	main {
		padding: 1em;
	}
}

/* A slightly more exciting layout with chart floated,
likely for landscape tablets and desktops */
@media screen and (min-width: 60em) {
	#chart {
		width: 45vw;
		height: 25vw;
	}

	#chartContainer {
		float: right;
		border: 1px solid black;
		padding: 1em;
		margin-left: 1em;
		margin-bottom: 1em;
		margin-top: 1em;
	}

	#chartContainer button {
		float: right;
	}
}

/* Wide margins for larger displays */
@media screen and (min-width: 75em) {
	#intro {
		padding-left: 10vw;
		padding-right: 10vw;
	}
	main {
		padding-left: 10vw;
		padding-right: 10vw;
	}
}
