summary h2 {
	display: inline-block;
}

table {
	border-collapse: collapse;
	margin-bottom: 0.5em;
}

th {
	background-color: black;
	color: white;
}

th, td {
	border: 1px solid black;
	padding: 0.5em;
}

div.visual-chart {
	width: 75vw;
	height: 40vw;
}

hr {
	height: 0;
	border: 4px solid yellow;
	/* These don't seem to have an effect... */
	margin-top: 1em;
	margin-bottom: 1em;
}

div.form-field label {
	display: inline-block;
	width: 13em;
}

p.error-message {
	color: red;
}

p.hidden-error-message {
	display: none;
}

input[aria-invalid=true] {
	outline: 2px solid red;
}

.current-datum {
	background-color: yellow;
}

/* Disclosure button triangles */

button[aria-haspopup="true"]:before {
	content: '▶︎ ';
}

button[aria-expanded="true"]:before {
	content: '▼ ';
}

/* Options dialogs */

div.audiochart-options {
	background-color: white;
	padding: 1em;
	outline: 4px solid yellow;
	border: 1px solid black;
}
